* {
	box-sizing: border-box;
}


body {
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	color: #757575;
	letter-spacing: 1px;
}


a {
	text-decoration: none;
	color: #757575;
	text-transform: uppercase;
}


a:hover {
	text-decoration: none;
	color: #FF5252;	
}


.wrapper {


}


.nav {
	display: flex;
	justify-content: space-between;
	line-height: 40px;
	width: 100vw; 
	padding: 5px 2%;
	height: 50px; 
	background-color: #ffffff;

}

.nav-menu{
	display: flex;
	justify-content: space-around;
	width: 50vw;

}


.hero {
	font-size: 50px;
	background-repeat: no-repeat;
	width: 100vw; 
	height: 400px; 
	background-color: #f1f1f1;
	line-height: 200px;
	display: flex;
	justify-content: space-around;

}


.whoiam {
	width: 100vw; 
	height: 400px; 
	background-color: #f1f1f1;
	padding: 10%;

}


.whatido {
	width: 100vw; 
	height: 400px; 
	background-color: #f1f1f1;
	padding: 10%;


}

.whatido-flex {
	display:flex; 
	justify-content: space-around;

}


.howidoit {
	padding: 10%;
	width: 100vw; 
	height: 400px; 
	background-color: #f1f1f1;

}


.portfolio {
	padding: 5%;
	width: 100vw; 
	height: 100%; 
	background-color: #f1f1f1;

}

.portfolio-boxes {
	width: 300px;
	height: 300px;
	background-color: #999999;
}

.portfolio-boxes img {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.proj-one {
	margin: 10px 10px 10px 0;
}

.proj-two {
	margin: 10px;
}

.proj-three {
	margin: 10px;
}

.proj-four {
	margin: 10px 0 10px 10px;
}




.design-one {
	margin: 10px 10px 10px 0;
}

.design-two {
	margin: 10px;
}

.design-three {
	margin: 10px;
}

.design-four {
	margin: 10px 0 10px 10px;
}




.testimonials {
	padding: 10%;
	width: 100vw; 
	height: 400px; 
	background-color: #f1f1f1;

}



.resume {
	padding: 10%;
	width: 100vw; 
	height: 400px; 
	background-color: #f1f1f1;

}


.footer {
	width: 100vw; 
	height: 100%; 
	background-color: #222222;

}


